.green{
  background-color: green;
  border-radius: 8px;
  padding: 5px;
  color: white;
}
.red{
  background-color: red;
  border-radius: 8px;
  color: white;
  padding: 5px;
}
.blue{
  background-color: blue;
  border-radius: 8px;
  padding: 5px;
  color: white;
}
